{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier":0,
    "no-else-return":0,
    "no-bitwise":0,
    "no-debugger":0,
    "prefer-destructuring":1,
    "no-return-assign":0,
    "consistent-return":0,
    "prefer-spread":0,
    "import/extensions":0,
    "jsx-filename-extension":0,
    "import/no-unresolved": 0,
    "no-unneeded-ternary":0,
    "no-restricted-globals":0,
    "class-methods-use-this":0,
    "no-useless-escape":0,
    "no-plusplus":0,
    "no-continue":0,
    "import/prefer-default-export":0,
    "no-restricted-properties":0,
    "no-underscore-dangle":0,
    "no-loop-func":0,
    "no-var":0,
    "one-var":0,
    "no-lonely-if":0,
    "prefer-template":0,
    "no-param-reassign":0,
    "vars-on-top":0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies":0,
    "@typescript-eslint/no-this-alias":0,
    "@typescript-eslint/no-use-before-define":0,
    "@typescript-eslint/no-var-requires": 0
  },
  "globals": {
    "XT": true,
    "g_config": true,
    "require": true
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
          "react/prop-types": "off"
      }
    }
]
}
